.site-footer {
    background-color: $boernetx-blue;
    color: $boernetx-white;
    padding-top: 3em;

    li>a {
        color: $boernetx-white;
    }

    .attribution {

        img {
            width: auto;
            margin-bottom: 16px;

        }
    }
}
