{% ckan_extends %}

{% block package_description %}
    {% if pkg.private %}
        <span class="dataset-private label label-inverse pull-right">
            <i class="fa fa-lock icon-lock"></i>
            {{ _('Private') }}
        </span>
    {% endif %}
    <h1>
        {% block page_heading %}
            {{ name }}
            {% if pkg.state.startswith('draft') %}
                [{{ _('Draft') }}]
            {% endif %}
        {% endblock %}
    </h1>
    {% if pkg.image_display_url %}
        <p class="ckanext-showcase-image-container">
            {% if pkg.url %}
                <a href="{{ pkg.url }}" target="_blank">
                    <img src="{{ pkg.image_display_url }}" alt="{{ name }}" class="media-image ckanext-showcase-image img-responsive">
                </a>
            {% else %}
                <img src="{{ pkg.image_display_url }}" alt="{{ name }}" class="media-image ckanext-showcase-image img-responsive">
            {% endif %}
        </p>
    {% endif %}
{% endblock %}
