{% ckan_extends %}

{% block footer_attribution %}
<span id="footer-attribution-text">Powered by</span>
              <div style="white-space:nowrap" id="footer-attribution-content">
                <a class="hide-text" target="_blank" href="https://dathere.com/"><img src="/base/images/dathere_logo_white.png" alt="datHere"></img></a>
                <a class="hide-text" target="_blank" href="http://ckan.org"><img src="/base/images/ckan_logo_white.png" alt=""></img></a>
              </div>

{% endblock  %}
{% block footer_lang %}
{% endblock %}
